:host {
  --background-color: #f66972;
  background-color: var(--background-color);
}

ion-header {
  &::after {
    content: "";
    background-image: none !important;
  }

  ion-toolbar {
    --background: var(--background-color);
    --color: #ffffff;

    ion-buttons {
      ion-back-button {
      }
    }

    ion-title {
    }
  }
}

// https://zyra.github.io/ionic-super-tabs/components/super-tab/

super-tabs {
  --st-scrollable-toolbar-padding-left: 35%;

  super-tabs-toolbar {
    --super-tabs-toolbar-background: var(--background-color);
    --st-indicator-color: transparent;
    padding: 1em 0;

    super-tab-button {
      --st-label-height: 6em;
      --st-label-font-weight: bold;
      --st-label-text-transform: uppercase;
      margin-right: 0.3em;
      padding: 0;
      transition: all 200ms;

      &.active {
        background-color: rgb(255 255 255 / 0.2);
        border-radius: 0.5em;
      }

      ion-label {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      ion-button.button {
        --padding-start: 1em;
        --padding-end: 1em;
        --border-radius: 0.5em;
        height: 3.5em;
        width: 100%;
        margin: 0em;
        transition: all 300ms;

        ion-label {
          font-size: 1em;
          font-family: system-ui;
          text-transform: capitalize;
          font-style: normal;
          font-weight: bold;
        }
      }
    }
  }

  super-tabs-container {
    background: #ffffff;

    super-tab {
    }
  }
}
