<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Super Tabs Angular</ion-title>
  </ion-toolbar>
</ion-header>

<!-- super tabs documentation -->
<!-- https://zyra.github.io/ionic-super-tabs/components/super-tab/ -->

<super-tabs [activeTabIndex]="activeTab">

  <!-- this is tab -->
  <super-tabs-toolbar slot="top" [scrollablePadding]="true" [showIndicator]="true" scrollable>
    <super-tab-button #superTabButton *ngFor="let tab of tabs;">
      <ion-button [disabled]="false" class="button" mode="md" expand="block" fill="clear" color="light">
        <ion-label color="light">{{ tab?.label }}</ion-label>
      </ion-button>
    </super-tab-button>
  </super-tabs-toolbar>

  <!-- this is container  -->
  <super-tabs-container>
    <super-tab *ngFor="let itemDetail of itemDetails; let i = index;">
      <ion-content class="ion-padding">
        <ion-label color="primary">{{ itemDetail | json }}</ion-label>
      </ion-content>
    </super-tab>
  </super-tabs-container>

</super-tabs>